/* ----------Profile Image------- */

.profileImage {
  display: flex !important;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
  top: -2rem;
  width: 10rem;
  height: 10rem;
  z-index: 3;
}

@media (max-width: 576px) {
  .profileImage {
    top: -3rem;
  }
}

@media (min-width: 576px) {
  .profileImage {
    top: -3rem;
    width: 12rem;
    height: 12rem;
    margin-bottom: 0rem;
  }
}

/* @media (min-width: 992px) {
  .profileImage {
    top: -5rem;
  }
}

@media (min-width: 1200px) {
  .profileImage {
    top: -5rem;
  }
} */

.imageDiv {
  border-top: 5px solid #61dafb;
}

/* ------Post--------- */

.post {
  background-color: #333333;
  margin-top: 20px;
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
}

.post-top {
  display: flex;
  position: relative;
  align-items: center;
  padding: 25px;
}

.post-info {
  color: white;
  margin-left: 15px;
}

.post-image > img {
  width: 100%;
}

.post-bottom {
  margin: 10px 0px;
}

.post-message,
.post-title {
  color: white;
  margin: 0px 20px;
}

.post-options {
  color: white;
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid #61dafb;
  cursor: pointer;
}

.post-icon {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 20px;
}

.post-icon:hover {
  background-color: grey;
  border-radius: 20px;
  cursor: pointer;
}

.fa-thumbs-up,
.fa-comment-alt,
.fa-share {
  color: white;
}

/* -----Popup Image Upload Link------------- */

.upload_link {
  color: white;
}

@media (max-width: 576px) {
  .upload_link {
    font-size: small;
  }
}

@media (max-width: 476px) {
  .upload_link {
    font-size: x-small;
  }
}

@media (min-width: 576px) {
  .upload_link {
    font-size: medium;
  }
}

.camera {
  background-color: #333333;
  color: #d3d3d3;
  border-radius: 50px;
  padding: 10px;
  position: relative;
  display: flex !important;
  margin-left: auto;
  margin-right: auto;
  left: 4rem;
  z-index: 4;
}

.camera:hover {
  background-color: #3d3d3d;
}

@media (max-width: 576px) {
  .camera {
    top: -7rem;
  }
}

@media (min-width: 576px) {
  .camera {
    top: -6rem;
  }
}

/* @media (min-width: 992px) {
  .camera {
    top: -8rem;
  }
}

@media (min-width: 1200px) {
  .camera {
    top: -8rem;
  }
} */

.profilePopupSubmit {
  margin-right: 1rem !important;
}

.profilePopupSubmit:hover {
  background-color: #6d6d6d !important;
}

.profilePopupText {
  font-size: large !important;
  margin-top: auto;
  margin-bottom: auto;
  /* margin-left: 0% !important; */
}

/* ------------------------- */
@media (max-width: 320px) {
  .profilePopupText {
    font-size: x-small !important;
  }
}

@media (min-width: 320px) {
  .profilePopupText {
    font-size: smaller !important;
  }
}

@media (min-width: 410px) {
  .profilePopupText {
    font-size: medium !important;
  }
}

.profileImageUploadBtn {
  justify-content: center;
  width: 100% !important;
  background-color: #585858 !important;
  height: 3rem;
  border-radius: 15px;
  width: 20% !important;
}

.profileImageUploadBtn:hover {
  background-color: #6d6d6d !important;
}

/* ---------Profile Name------------ */

.profileName {
  display: flex;
  justify-content: center;
  top: -4rem;
  position: relative;
  z-index: 1;
}

@media (max-width: 576px) {
  .profileName {
    top: -5rem;
  }
}

@media (min-width: 576px) {
  .profileName {
    top: -5rem;
  }
}

/* @media (min-width: 992px) {
  .profileName {
    top: -7rem;
  }
}

@media (min-width: 1200px) {
  .profileName {
    top: -7rem;
  }
} */

/* -------------------- */

.feed-columns {
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .friend-search-column {
    display: none;
  }
}

@media (min-width: 992px) {
  .friend-search-column {
    display: block;
  }
}

/* -------Posts Column---------- */

.posts-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem !important;
}

@media (max-width: 992px) {
  .posts-column {
    padding: 0 5rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .posts-column {
    max-width: 50vw;
    margin: 0;
  }
}

.hidden {
  display: none !important;
}
