.modal-open {
  position: fixed;
  overflow: scroll !important;
  width: 100%;
  padding-right: 0 !important;
}

.forgotPasswordText {
  color: blue !important;
}

.login-modal-footer {
  /* display: flex; */
  justify-content: space-between !important;
}

.signup-modal-footer {
  /* display: flex; */
  justify-content: flex-end !important;
}

.alertBody {
  color: green;
  display: flex;
  text-align: center !important;
}

.google-icon {
  display: flex !important;
  align-items: center;
  /* justify-content: left; */
}

.google-icon > img {
  border-radius: 10%;
}

.google-icon > h6 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
