.modal-open {
  position: fixed;
  overflow: scroll !important;
  width: 100%;
  padding-right: 0!important;
}

.forgotPasswordText {
  color: blue !important;

}

.login-modal-footer{
/* display: flex; */
justify-content: space-between !important;
}

.signup-modal-footer{
/* display: flex; */
justify-content: flex-end !important;
}

.alertBody{
  color: green;
  display: flex;
  text-align: center !important;
}

/* .navContainer {
  background: black;
} */