.ImagesPopup {
color: #D3D3D3;
}

.profilePopup {
background-color: #333333;
color: #D3D3D3;
border-radius: 20px;
padding: 10px;
position: relative;
/* display: flex !important; */
justify-content: space-between;
margin-left: auto;
margin-right: auto;
align-items: center;
width: 30vw;
}

@media (max-width: 360px) {
.profilePopup  {
top: -7rem;
width: 95vw;
  }
}

@media (min-width: 360px) {
.profilePopup  {
top: -7rem;
width: 95vw;
  }
}

@media (min-width: 425px) {
.profilePopup  {
top: -7rem;
width: 80vw;
  }
}

@media (min-width: 576px) {
.profilePopup  {
top: -6rem;
width: 60vw;
  }
}

@media (min-width: 992px) {
.profilePopup  {
top: -8rem;
width: 40vw;
  }
}

@media (min-width: 1200px) {
.profilePopup  {
top: -8rem;
width: 30vw;
  }
}