.signupBtn {
  padding: 0px 24px; 
  align-items: center !important;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  border-radius: 24px !important;
  width: 10rem !important;
  margin-left: 3rem;
  margin-right: 1rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}