.post {
  background-color: #333333;
  margin-top: 20px;
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, .75);
  border-radius: 15px;
}

.post-top {
  display: flex;
  position: relative;
  align-items: center;
  padding: 25px;
}

.post-info {
  color: white;
  margin-left: 15px;
}

.post-image > img{
  width: 100%;
}

.post-bottom {
  margin: 10px 0px ;
}

.post-message, .post-title {
  color: white;
  margin: 0px 20px;
}

.post-options {
  color: white;
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid #61DAFB;
  cursor: pointer;

}

.post-icon {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 20px;
}

.post-icon:hover {
  background-color: grey;
  border-radius: 20px;
  cursor: pointer;
}

.fa-thumbs-up, .fa-comment-alt, .fa-share{
  color:white
}