body {
  margin: none;
}

a:hover {
  color: #61dafb;
}

.geoLocater {
  background: #61dafb;
  padding: 10px 24px;
  align-items: center !important;
  color: "#fff";
  border: 1px solid white;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  border-radius: 24px !important;
  width: 14rem !important;
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.geoLocater:hover {
  transform: scale(1.1);
}

.marker {
  transform: translate(-50%, -100%);
}

.error {
  color: #fe7a02;
}

.marker.react-blue path {
  fill: #fe7a02;
}

.marker.yellow path {
  fill: #f3b73e;
}

.popup {
  width: 40vw;
  padding: 1rem;
}

.postPopup {
  z-index: 2;
}

.popup img {
  height: 200px;
  width: auto;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.post-form label,
.post-form input,
.post-form textarea,
.post-form button {
  font-size: 1rem;
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}

/* ----------PopupPost------ */
@media (max-width: 576px) {
  .popupPostTitle {
    font-size: medium;
  }
}

@media (min-width: 576px) {
  .popupPostTitle {
    font-size: x-large;
  }
}

/* ---------------User Profile Name--------------- */

.userProfileName {
  display: flex;
  justify-content: center;
  top: -2rem;
  position: relative;
  z-index: 1;
}

@media (max-width: 576px) {
  .userProfileName {
    top: -3rem;
  }
}

@media (min-width: 576px) {
  .userProfileName {
    top: -3rem;
  }
}

/* @media (min-width: 992px) {
  .userProfileName {
    top: -5rem;
  }
}

@media (min-width: 1200px) {
  .userProfileName {
    top: -5rem;
  }
} */

/* ----------------------------- */
.upload_link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.popupImages {
  justify-content: center;
  width: 100% !important;
  background-color: #333333 !important;
  height: 3rem;
  border-radius: 24px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.profileImage,
.avatarImage,
.searchLabel,
.searchDiv,
.imageDiv,
.messageSenderIcon,
.messageSenderImgIcon,
.avatarImage,
.messageSenderImage,
.post-top {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden-input {
  display: none;
}

.mapboxgl-ctrl-geocoder {
  min-width: 150px !important;
  width: auto !important;
  height: auto !important;
  border-radius: 24px !important;
  background-color: #d3d3d3;
  border: 2px solid white;
}
@media (max-width: 280px) {
  .mapboxgl-ctrl-geocoder {
    font-size: xx-small;
    margin-left: 1rem;
    padding: 0;
  }
}

@media (min-width: 280px) {
  .mapboxgl-ctrl-geocoder {
    font-size: x-small;
    margin-left: 1rem;
    padding: 0;
  }
}

@media (min-width: 360px) {
  .mapboxgl-ctrl-geocoder {
    font-size: medium;
  }
}

@media (min-width: 640px) {
  .mapboxgl-ctrl-geocoder {
    padding: 4px;
  }
}

@media (min-width: 769px) {
  .mapboxgl-ctrl-geocoder {
    margin-left: 0;
    margin-right: 10rem;
  }
}

/* .centerPopupImage {
  justify-content: center;
} */
